---
layout: default
---

<article class="article gray mw7 center phm pbl">
    <aside class="f5 cf mtm mbm mw7 center light-red">
        <span class="fr">
            <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time>
        </span>
    </aside>
    <h2>{{ page.title }}</h2>
    <main>{{ content }}</main>
</article>


<nav class="bt b--light-gray">
    <ul class="list mw7 center phm pvm cf mtn mbn">
        {% if page.previous.url %} 
            <li class="fl"><a class="link" href="{{page.previous.url}}">&lt; {{page.previous.title}}</a></li>
        {% endif %} 
        {% if page.next.url %} 
            <li class="fr"><a class="link" href="{{page.next.url}}">{{page.next.title}} &gt;</a></li>
        {% endif %} 
    </ul>
</nav>
